/*navbar name logo fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap');
body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  background-color: black;
} 

/************** Navbar ******************/
/* Default hamburger icon */
.navbar-custom {
    background-color: blue;
  }
  .navbar-nav .nav-link {
    color: white;
    margin-left: 30px;
  }
  .navbar-nav .nav-link:hover {
    color: rgb(55, 0, 255); /* Change this to any color you prefer */
    transition: 0.3s; 
  } 
.navbar-brand{
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
}
.navbar-brand samp{
  font-family: "Playwrite CZ", cursive;
  font-weight: 800;

}

.navbar-nav .nav-item .nav-link {
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease, text-transform 0.3s ease;
}

.navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #007bff; /* Adjust color as needed */
  transition: width 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-item .nav-link::before {
  content: attr(data-text);
  visibility: hidden;
  height: 0;
  overflow: hidden;
  display: inline-block;
}

.navbar-nav .nav-item .nav-link {
  display: inline-block;
  min-width: max-content;
}

.navbar-nav .nav-item .nav-link:hover {
  text-transform: uppercase;
}

/******************* hero section ***********************/
.hero {
    background: url('./img/bg\ img.jpg') no-repeat center center;
    background-size: cover;
    color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
  }
/* typed auto animet */
.auto-type {
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1.8rem;
    color: blue;
  }

.typed-cursor {
  color: rgb(253, 2, 2);
  font-size: 25px;
}


.hero p {
    font-size: 1.2rem;
    color: #6c757d; /* Secondary text color */
  }

.hero img {
    max-width: 50%;
    height: auto;
    background-color: black;
    border-radius: 50%;
    margin: auto;
    outline: 2px solid rgb(0, 189, 225);
    outline-offset: 10px;
    box-shadow: 0 0 100px 40px #00ffff;
    /* filter: drop-shadow(5px 10px 8px red); */
    
  }

  .hero img:hover {
    outline: 2px solid rgb(236, 34, 209);
    outline-offset: 10px;
    box-shadow: 0 0 100px 40px #ec48df;
  }


.hero button {
    margin: 5px;
  }
.hero .btn-custom {
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none;
  }
.hero .btn-custom:hover {
    background-color: #0056b3; /* Hover background color */
    color: white; /* Hover text color */
  }

/* ************** about  ***************** */
#about {
  /* background: url(./img/bg\ img2.jpg) no-repeat center center; */
  background-color: white;
}


/* ************** Skills Section  ***************** */
.skil-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: rgb(7, 6, 17);
  padding-left: 10%;
  padding-right: 10%;
 position: relative;
}
.skil-container #skil-h2{
  text-align: center;
  color: #ec48df;
  position: absolute;
  top: 10px;
  border-bottom: 3px solid white;
  width: 100px;
}

.card-list .card-item {
  color: #fff;
  width: 400px;
  height: 300px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid #fff;
  padding: 4px;
}

.card-list .card-item .user-profession {
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 7px 0 10px;
}

.card-list .card-item  .message-button {
  font-size: 1.10rem;
  padding: 5px 20px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item  .message-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  color: #fff;
}

.mySwiper .swiper-pagination-bullet {
  background: #fff;
  height: 15px;
  width: 15px;
}

.mySwiper .swiper-slide-button {
  color: #fff;
  transition: 0.2s ease;

}
.mySwiper .swiper-slide-button:hover {
  color: #4658ff;
}

/* @media screen and (max-width: 900px) {
  #skil-car {
    grid-auto-columns: calc((100% / 2) - 12px);
  }
}
@media screen and (max-width: 600px) {
  #skil-car {
    grid-auto-columns: 100%;
  }
} */



  /* ********************** Footer *************************** */
.footer {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  /* ********************** media queries ************************ */
  @media only screen and (max-width: 600px){
    .hero {
      margin-top: 50px;
      margin-bottom: 10px;
    }
  
    .hero img{
      margin-top: 40px;
    }
  
    
  }
  
  @media only screen and (max-width: 768px) {
    .hero img{
      margin-top: 50px;
    
    }
  
    #about-img{
      margin-top: 80px;
    }
    
  }
  @media only screen and (min-width: 124px) {
    .hero {
      height: 90vh;
    }
  }

